name: Deploy Ma Nouvelle App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Server via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_HOST }}
          username: ${{ secrets.SERVER_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            cd /var/www/tv_dashboard
            git pull origin main
            source venv/bin/activate
            pip install --no-cache-dir -r requirements.txt
            sudo systemctl restart streamlit-tv.service
